  h1 {
   color: black;
   text-align: center;
   font-size: 70px;
   font-weight: bold;
     }

  .tab{
    border: solid 1px black;   
    
    height:33%;
  }   
  body{
    margin-left:10px;
  }
  #bienvenido{
   color: rgb(0, 128, 53);
   font-weight: bold;

  }
  .dimensiones{
    text-align: left;
    margin-left: 20px;
  }
  .jugadores{
    text-align: left;
    margin-left: 20px;
  }

  .button{
    text-align: center;
    margin-bottom: 20px;
      

  } 
  #crearTablero{
    font-size: 30px;
    ;   

    
  }
  @media only screen and (min-width: 600px) {
    #tablero {
        margin-left: 15%;
        margin-right: 15%;
        border: solid 2px black;
        margin-bottom: 15px;
        color: green;
        font-weight: bold;
        
        
    }
  }

  .row{
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  
